{% from '../templates/macros/helpers.njk' import svgIcon %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cal-Adapt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f8f265">
    <meta name="theme-color" content="#ffffff">
    {% block page_css %}
    {% endblock %}
  </head>
  <body>
    <!-- HEADER -->
    {% include "../templates/partials/header.njk" %}

    <!-- MAIN CONTENT -->
    {% block page_content %}{% endblock %}

    <!-- FOOTER -->
    {% include "../templates/partials/footer.njk" %}

     <!-- SCRIPTS -->
  </body>
</html>
