{% extends "site.html" %}

{% block page_css %}
<style type="text/css">
  .post, .post:hover, .post:visited {
    text-decoration: none;
  }

  .center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 150px;
    width: 200px;
  }
</style>
{% endblock %}

{% block page_content %}
<!-- Main -->
<main>

  <section class="jumbotron jumbotron-fluid" style="background: #f2a650 url('../media/banners/bay_fog2.jpg') no-repeat center;min-height: 200px;background-blend-mode: darken;">
  </section>

  <section class="container mt-5">
    <div class="page-header">
      <h1 class="display-4">Cal-Adapt Blog</h1>
      <p class="lead">
        News and updates on Climate Tools, Data and Resources on Cal-Adapt
      </p>
    </div>
  </section>

  <section class="container mt-4">

  <div class="row">
    <div class="col-md-9">
      {% for file in pagination.files %}
      <a class="post" href="{{ file.path }}">
        <article class="py-4">
          <div class="post-meta mb-2" style="font-size:0.9rem;">
            <time class="text-muted">{{ file.date | date("MMM D, YYYY") }}</time> |
            <span>{{ file.author }}</span>
          </div>
          <div class="media">
            <img class="d-flex align-self-center mr-3 center-cropped"
              src="/media/blog/{{ file.image }}_200.png" alt="image for post">
            <div class="media-body">
              <h3 class="mt-0">{{ file.title}}</h3>
              <p class="text-dark">{{ file.snippet | safe  }}</p>
              <button class="btn btn-primary">Read more</button>
            </div>
          </div>
        </article>
      </a>
      {% endfor %}
      <nav aria-label="blog navigation">
        <ul class="pagination">
          {% if pagination.previous %}
            <li class="page-item"><a class="page-link" href="{{ pagination.previous.path }}">Previous</a></li>
          {% endif %}
          {% if pagination.next %}
            <li class="page-item"><a class="page-link" href="{{ pagination.next.path }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="col-md-3 bg-gray-100">
      <div class="p-3">
        <h3 class="h4">User Stories</h3>
        <p style="font-size:0.9rem;">
          We would like to feature how people around California are using Cal-Adapt for planning, assessment, research, teaching, and more. If you want to share your experiences, we would love to hear from you! Email us your story at <a href="mailto:support@cal-adapt.org">support@cal-adapt.org</a> with the heading User Story.
        </p>
      </div>
    </div>
  </div>


  </section>

</main> <!-- End main -->
{% endblock %}

{% block scripts %}
{% endblock %}
