<footer id="footer">
  <div class="container-fluid mt-5 py-4" style="color:rgba(46, 46, 46, 0.8);background-color:rgba(46, 46, 46, 0.1);">
    <div class="row">
      <div class="col-md-6 mt-2 text-center">
        <strong>About Cal-Adapt</strong>
        <p style="font-size:0.9em;max-width:700px;" class="mx-auto ">
          Cal-Adapt has been developed by the Geospatial Innovation Facility at University of California, Berkeley with funding and advisory oversight by the California Energy Commission.
        </p>
      </div>
      <div class="col-md-6 mt-2 text-center">
        <div class="col-md-12 text-center d-flex justify-content-center align-items-center">
          <a href="http://gif.berkeley.edu/" target="_blank" title="Geospatial Innovation Facility" alt="Geospatial Innovation Facility logo" class="d-block pr-2">
            <img src="/media/logos/gif_249x100.png" style="width:180px;">
          </a>
          <a href="http://www.energy.ca.gov/" target="_blank" title="California Energy Commission" alt="California Energy Commission logo" class="d-block" >
            <img src="/media/logos/cec_100x88.png" style="width:100px;">
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 mt-2 text-center">
        <a href="https://twitter.com/cal_adapt" title="Twitter" style="height:50px;width:50px;margin-right:10px;color:rgba(46, 46, 46, 0.7);display:inline-block;">
          {{ svgIcon('twitter', 'icon-sm') }}
        </a>
       <a href="https://www.facebook.com/caladapt/" title="Facebook" class="btn-floating" style="height:50px;width:50px;margin-right:10px;color:rgba(46, 46, 46, 0.7);display:inline-block;">
          {{ svgIcon('facebook', 'icon-sm') }}
        </a>
        <a href="mailto:support@cal-adapt.org" title="Email" class="btn-floating" style="height:50px;width:50px;margin-right:10px;color:rgba(46, 46, 46, 0.7);display:inline-block;">
          {{ svgIcon('mail', 'icon-sm') }}
        </a>
      </div>
    </div>
    <hr>
    <div class="row mt-1">
      <div class="col-md-12 text-center">
        <small class="d-block">&copy;
          <script type="text/javascript">document.write(new Date().getFullYear());</script> California Energy Commission
        </small>
        <small class="d-block">
          State of California, Gavin Newsom, Governor.
        </small>
      </div>
    </div>
  </div>
</footer>
