<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Cal-Adapt</strong> has been developed by the Geospatial Innovation Facility at University of California, Berkeley with funding and advisory oversight by the California Energy Commission.
    </p>
    <ul>
      <li>
        <a href="https://twitter.com/cal_adapt" title="Twitter" style="height:50px;width:50px;margin-right:10px;color:rgba(46, 46, 46, 0.7);display:inline-block;">
          {{ svgIcon('twitter', 'icon-sm') }}
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/caladapt/" title="Facebook" class="btn-floating" style="height:50px;width:50px;margin-right:10px;color:rgba(46, 46, 46, 0.7);display:inline-block;">
        {{ svgIcon('facebook', 'icon-sm') }}
        </a>
      </li>
      <li>
        <a href="mailto:support@cal-adapt.org" title="Email" class="btn-floating" style="height:50px;width:50px;margin-right:10px;color:rgba(46, 46, 46, 0.7);display:inline-block;">
        {{ svgIcon('mail', 'icon-sm') }}
        </a>
      </li>
    </ul>
  </div>
</footer>
