{% extends "site.html" %}

{% block page_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
<style type="text/css">
  .post img {
    margin: 0 auto;
  }
  .post .content {
    width: 80%;
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block page_content %}
{% set name = output_filename().split('/')[2] %}
<main>
  {% for post in posts %}
    {% if post.attributes.permalink === name %}
      <section class="hero is-medium">
        <div class="hero-body">
          <div class="container">
            <nav class="navbar" role="navigation" aria-label="blog navigation">
              <a href="/blog">Back to Blog</a></li>
            </nav>
            <h1 class="title">{{ post.attributes.title }}</h1>
            <time datetime="{{ post.attributes.date }}">{{ post.attributes.date }}</time>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="/media/blog/sf_king_tide_1200.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                {{ post.body | md |safe }}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}
</main>
{% endblock %}
