{% extends 'site.html' %}

{% block page_content %}
<main>

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Blog</h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="content">
        <p>This data is injected into the nunjucks template context.</p>
      </div>
      <div class="columns">
       {% for post in posts %}
       <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/media/blog/{{ post.attributes.image }}_200.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ post.attributes.title }}</p>
                <p class="subtitle is-6">{{ post.attributes.date }}</p>
              </div>
            </div>
            <div class="content">
              {{ post.attributes.snippet }}
              <br>
              <a href="/blog/posts/{{ post.attributes.permalink }}">Read More</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </section>

</main>
{% endblock %}
