{% extends "site.html" %}

{% block page_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
<style type="text/css">
  .post img {
    margin: 0 auto;
  }
  .post .content {
    width: 70%;
    margin: 0 auto;
    line-height: 1.75rem;
  }
  h1 {
    font-weight: 400;
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
</style>
{% endblock %}

{% block page_content %}
<main class="wrapper">
  <section class="container mt-5">
    <article class="post">
      <header class="mt-2">
        <h1>
            {{ title }}
        </h1>
      </header>
    </article>
  </section>
</main>
{% endblock %}
