<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>My app</strong> has been developed by the Geospatial Innovation Facility at University of California, Berkeley.
    </p>
    <ul class="columns is-centered is-vcentered">
      <li class="column is-narrow">
        <a href="/" title="Twitter">
          {{ svgIcon('twitter', 'is-small') }}
        </a>
      </li>
      <li class="column is-narrow">
        <a href="/" title="Facebook">
        {{ svgIcon('facebook', 'is-small') }}
        </a>
      </li>
      <li class="column is-narrow">
        <a href="/" title="Email">
        {{ svgIcon('mail', 'is-small') }}
        </a>
      </li>
    </ul>
  </div>
</footer>
