{% extends 'site.html' %}

{% block page_content %}
<main>

  <section class="hero is-medium is-bold has-text-white background-image">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white ">My App</h1>
        <h2 class="subtitle has-text-white">My app tagline</h2>
        <ul class="columns">
          <li class="column" style="max-width:4rem;">
            {{ svgIcon('sun', 'is-large') }}
          </li>
          <li class="column" style="max-width:4rem;">
            {{ svgIcon('moon', 'is-large') }}
          </li>
          <li class="column" style="max-width:4rem;">
            {{ svgIcon('rainfall', 'is-large') }}
          </li>
          <li class="column" style="max-width:4rem;">
            {{ svgIcon('snowflake', 'is-large') }}
          </li>
          <li class="column" style="max-width:4rem;">
            {{ svgIcon('sea', 'is-large') }}
          </li>
          <li class="column" style="max-width:4rem;">
            {{ svgIcon('wildfire', 'is-large') }}
          </li>
          <li class="column" style="max-width:4rem;">
            {{ svgIcon('streamflow', 'is-large') }}
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section is-medium has-text-centered">
    <div class="container">
      <div id="root"></div>
    </div>
  </section>
</main>
{% endblock %}
