{% extends 'site.html' %}

{% block page_content %}
<main>

  <section class="hero is-medium is-bold has-text-white background-image">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white ">Cal-Adapt</h1>
        <h2 class="subtitle has-text-white">Exploring California&#39;s Climate Change Research</h2>
        <div class="columns">
          <div class="column">
            <p class="max-width:50%;">
              Cal-Adapt provides a view of how climate change might affect California. Find tools, data, and resources to conduct research, develop adaptation plans and build applications.
            </p>
          </div>
          <div class="column">
            <ul class="columns">
              <li class="column">
                {{ svgIcon('sun', 'is-large') }}
              </li>
              <li class="column">
                {{ svgIcon('moon', 'is-large') }}
              </li>
              <li class="column">
                {{ svgIcon('rainfall', 'is-large') }}
              </li>
              <li class="column">
                {{ svgIcon('snowflake', 'is-large') }}
              </li>
              <li class="column">
                {{ svgIcon('sea', 'is-large') }}
              </li>
              <li class="column">
                {{ svgIcon('wildfire', 'is-large') }}
              </li>
              <li class="column">
                {{ svgIcon('streamflow', 'is-large') }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-medium has-text-centered">
    <div class="container">
      <div id="root"></div>
    </div>
  </section>
</main>
{% endblock %}
